@model IEnumerable<HotelSystem.SharedKernel.ViewModels.HotelViewModel>


<h4 class="pb-1">Your Hotels</h4>


<p>
    <span class="text text-lowercase">
        <a asp-controller="Manager" asp-action="AddHotel">
            <i class=" fa fa-plus"></i>
            Add new hotel
        </a>
    </span>
</p>

@if (Model == null)
{
    <hr />

}
else
{
    <div class="row">
        <div class="col">
            <table class="table table-hover">
                <thead>
                    <tr>
                        <th>
                            @Html.DisplayNameFor(model => model.Name)
                        </th>
                        <th></th>
                    </tr>
                </thead>
                <tbody>
                    @foreach (var item in Model)
                    {
                        <tr>
                            <td>
                                @Html.DisplayFor(modelItem => item.Name)
                            </td>
                            <td>
                                <a asp-action="HotelDetails" asp-controller="Manager" asp-route-Id="@item.Id">Details</a> |
                                <a asp-action="Delete_Hotel" asp-controller="Manager" asp-route-Id="@item.Id">Delete</a>
                            </td>
                        </tr>
                    }
                </tbody>
            </table>
        </div>
    </div>
}