@model IEnumerable<HotelSystem.SharedKernel.ViewModels.HotelViewModel>

@{
    ViewData["Title"] = "Hotels";
    Layout = "~/Views/Shared/_Layout.cshtml";
}


<div class="row">
    <div class="col-sm-12 col-md-12">
        <ol class="breadcrumb">
            <li class="breadcrumb-item"><a asp-controller="Manager" asp-action="Index">Dashboard</a></li>
            <li class="breadcrumb-item active"><a asp-controller="Manager" asp-action="Hotels">Hotels</a></li>
        </ol>
    </div>
</div>

<h4 class="pb-1">Your Hotels</h4>


<p>
    <span class="text text-lowercase">
        <a asp-controller="Manager" asp-action="AddHotel">
            <i class=" fa fa-plus"></i>
            Add new hotel
        </a>
    </span>
</p>

@if (Model == null)
{
    <hr />

    <div class="row">
        <div class="col text-center">
            <img src="~/images/placeholder/web_hi_res_512.png" class="img-fluid rounded" height="200" width="100" />
        </div>
    </div>
}
else
{
    <div class="row">
        <div class="col">
            <table class="table table-hover">
                <thead>
                    <tr>
                        <th>
                            @Html.DisplayNameFor(model => model.Name)
                        </th>
                        <th></th>
                    </tr>
                </thead>
                <tbody>
                    @foreach (var item in Model)
                    {
                        <tr>
                            <td>
                                @Html.DisplayFor(modelItem => item.Name)
                            </td>
                            <td>
                                <a asp-action="HotelDetails" asp-controller="Manager" asp-route-Id="@item.Id">Details</a> |
                                <a asp-action="Delete_Hotel" asp-controller="Manager" asp-route-Id="@item.Id">Delete</a>
                            </td>
                        </tr>
                    }
                </tbody>
            </table>
        </div>
    </div>
}
