@model HotelSystem.SharedKernel.ViewModels.BookingViewModel

@{
    ViewData["Title"] = "Check Out";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="row">
    <div class="col-sm-12 col-md-12">
        <ol class="breadcrumb">
            <li class="breadcrumb-item"><a asp-controller="Home" asp-action="Index">Home</a></li>
            <li class="breadcrumb-item active"><a asp-controller="FrontDesk" asp-action="Index">Front Desk</a></li>
        </ol>
    </div>
</div>

<h4 class="pb-1">Check Out</h4>

<hr />

<div class="row">
    <div class="col-md-5">
        <form asp-controller="FrontDesk" asp-action="CheckOut" method="post">
            <div class="form-group">
                <div asp-validation-summary="ModelOnly" class="alert alert-danger alert-dismissible" role="alert">
                    <button type="button" class="close" data-dismiss="alert" aria-label="Close"><span aria-hidden="true">&times</span></button>
                </div>
            </div>
            <div class="row">
                <div class="col">
                    <div class="form-group">
                        <span>
                            <label asp-for="Arrival" class="control-label"></label>
                        </span>
                        <div class="input-group">
                            <div class="input-group-prepend">
                                <i class="fa fa-calendar rounded bg-info text-light input-group-text"></i>
                            </div>
                            <input type="datetime" asp-for="Arrival" class="form-control" readonly />
                            <span asp-validation-for="Arrival" class="text-danger"></span>
                        </div>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col">
                    <div class="form-group">
                        <span>
                            <label asp-for="Departure" class="control-label"></label>
                        </span>
                        <div class="input-group">
                            <div class="input-group-prepend">
                                <i class="fa fa-calendar rounded bg-info text-light input-group-text"></i>
                            </div>
                            <input type="datetime" asp-for="Departure" class="form-control" readonly />
                            <span asp-validation-for="Departure" class="text-danger"></span>
                        </div>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col">
                    <div class="form-group">
                        <span>
                            <label asp-for="HotelName" class="col-form-label"></label>
                        </span>
                        <div class="input-group">
                            <div class="input-group-prepend">
                                <i class="fa fa-hotel rounded bg-info text-light input-group-text"></i>
                            </div>
                            <input asp-for="HotelName" class="form-control" readonly />
                        </div>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col">
                    <div class="form-group">
                        <span>
                            <label asp-for="NumberOfGuests" class="control-label"></label>
                        </span>
                        <div class="input-group">
                            <div class="input-group-prepend">
                                <i class="fa fa-users rounded bg-info text-light input-group-text"></i>
                            </div>
                            <input asp-for="NumberOfGuests" class="form-control" readonly />
                            <span asp-validation-for="NumberOfGuests" class="text-danger"></span>
                        </div>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col">
                    <div class="form-group">
                        <span>
                            <label asp-for="Status" class="control-label"></label>
                        </span>
                        <div class="input-group">
                            <div class="input-group-prepend">
                                <i class="fa fa-map-marker bg-info text-light input-group-text"></i>
                            </div>
                            <select asp-for="Status">
                                <option value="" disabled selected>Check out guest</option>
                                <option value="CheckedOut">Check Out</option>
                            </select>
                            <span asp-validation-for="Status" class="text-danger"></span>
                        </div>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col">
                    <div class="form-group">
                        <div class="btn-group btn-block">
                            <button type="button" class="btn btn-block">
                                Selected Rooms
                                <span class="sr-only">Selected Rooms</span>
                            </button>
                            <button type="button" class="bg-info text-light btn">@Model.NumSelectedRooms</button>
                        </div>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col">
                    <div class="form-group pull-right">
                        <a asp-controller="Home" asp-action="Index" class="btn btn-outline-secondary">Cancel</a>
                        <button name="command" type="submit" value="ConfirmBooking" class="btn btn-primary" id="confirm">Proceed</button>
                    </div>
                </div>
            </div>
            <input asp-for="CheckInPerson" type="hidden" readonly />
            <input asp-for="CheckOutPerson" type="hidden" readonly />
            <input asp-for="NumSelectedRooms" class="form-control" type="hidden" readonly />
            <input asp-for="ModifiedDate" class="form-control" type="hidden" readonly />
            <input asp-for="CreationTime" class="form-control" type="hidden" readonly />
            <input asp-for="HotelId" class="form-control" type="hidden" readonly />
            <input asp-for="Id" class="form-control" type="hidden" readonly />
            <input asp-for="BookerId" class="form-control" type="hidden" readonly />
        </form>
    </div>
</div>

